[Unit]
Description=platune daemon
After=network.target
After=network-online.target
After=NetworkManager.service
After=systemd-resolved.service
StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
EnvironmentFile=/home/aschey/code/platune/platuned/linux/.service-env
Restart=always
User=aschey
RestartSec=1
ExecStart=/home/aschey/code/platune/target/release/platuned -s

[Install]
WantedBy=multi-user.target
