.bp3-dialog-header {
  margin-bottom: 20px;
}

.bp3-table-cell {
  line-height: 25px;
}

.bp3-select-popover.small .bp3-menu {
  min-width: 70px;
}

.bp3-table-selection-enabled .bp3-table-cell {
  cursor: auto;
}

.bp3-table-selection-enabled.bp3-table-row-headers .bp3-table-header {
  cursor: auto;
}

.bp3-editable-text-content {
  transition: var(--transition);
}

.bp3-dialog {
  background: rgba(var(--dialog-background), 1);
}

.bp3-dialog-header {
  background: rgba(var(--dialog-header), 1);
}

.bp3-table-quadrant-main .bp3-table-cell-client {
  background: rgba(var(--background-secondary), 1);
}

.bp3-navbar {
  -webkit-app-region: drag;
  transition: var(--transition);
}
.bp3-navbar * {
  transition: var(--transition);
}
.bp3-navbar button {
  transition: none;
}
.bp3-navbar button * {
  transition: none;
}
.bp3-button[class*='bp3-intent-'].hover-intent:not(:hover) {
  color: rgba(var(--window-controls-color), 1);
}

.bp3-navbar-divider {
  border-left: 1px solid rgba(var(--text-secondary), 0.1);
}

.bp3-omnibar {
  background: rgba(var(--omnibar-background), 1);
}

.bp3-key {
  background: rgba(var(--background-secondary), 1);
}

.bp3-dialog {
  box-shadow: none;
}

.bp3-icon {
  color: rgba(var(--text-secondary), 1);
}

.bp3-tag.bp3-minimal.bp3-intent-primary {
  border: 1px solid rgba(var(--intent-primary), 0.25);
}

.bp3-tag.bp3-minimal.bp3-intent-success {
  border: 1px solid rgba(var(--intent-success), 0.25);
}

.bp3-tag.bp3-minimal.bp3-intent-warning {
  border: 1px solid rgba(var(--intent-warning), 0.25);
}

.bp3-tag.bp3-minimal.bp3-intent-danger {
  border: 1px solid rgba(var(--intent-danger), 0.25);
}
