[package]
authors = ["aschey <aschey13@gmail.com>"]
edition = "2018"
name = "platuned-client"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "platuned_client"
path = "src/lib.rs"

[dependencies]
prost = "0.7.0"
tonic = "0.4.3"

[build-dependencies]
tonic-build = {version = "0.4.2", features = ["prost"]}
