[Desktop Entry]
Name=Platune
GenericName=Music Player
Exec=/opt/platune/platune.AppImage
Icon=platune
Type=Application
StartupNotify=false
StartupWMClass=platune
Categories=Multimedia;
MimeType=text/plain;inode/directory;
Actions=new-window;
Keywords=vscode;

[Desktop Action new-window]
Name=New Window
Exec=/opt/platune/platune.AppImage
Icon=platune
