body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "./variables.scss";
@import "~normalize.css";
@import "~react-virtualized/styles.css";
@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/table/src/table.scss";

@import "~@blueprintjs/select/src/blueprint-select.scss";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "./blueprint-override.scss";
@import "./App.scss";
