:root {
    --background-main: none;
    --table-background-color: none;
    --text-color: white;
    --editing-color: white;
    --selected-bg: rgba(125, 188, 255, 0.6);
    --bg-1: white;
    --bg-2: white;
    --stripe: white;
    --playing-bg: white;
    --transition: color 1s, background 1s, border 1s, box-shadow 1s;
    --header-padding: 0;
}

$pt-intent-primary: var(--intent-primary);
$pt-intent-success: var(--intent-success);
$pt-intent-warning: var(--intent-warning);
$pt-intent-danger: var(--intent-danger);

$pt-intent-text-colors: (
    "primary": var(--text-primary),
    "success": var(--text-success),
    "warning": var(--text-warning),
    "danger" : var(--text-danger)
);

$pt-dark-intent-text-colors: (
    "primary": var(--text-primary),
    "success": var(--text-success),
    "warning": var(--text-warning),
    "danger" : var(--text-danger)
);

$button-intents: (
    "primary": ($pt-intent-primary, var(--primary-hover), var(--primary-active)),
    "success": ($pt-intent-success, var(--success-hover), var(--success-active)),
    "warning": ($pt-intent-warning, var(--warning-hover), var(--warning-active)),
    "danger": ($pt-intent-danger, var(--danger-hover), var(--danger-active)),
);

$selectable-header-menu-selected-background: #000;
$selectable-header-menu-selected-hover-background: #000;
$dark-selectable-header-menu-selected-background: #000;
$dark-selectable-header-menu-selected-hover-background: #000;

$navbar-background-color: var(--navbar-background);
$dark-navbar-background-color: var(--navbar-background);