:root {
    --background-main: none;
    --text-color: none;
    --editing-color: none;
    --selected-bg: rgba(125, 188, 255, 0.6);
    --bg-1: none;
    --bg-2: none;
    --stripe: none;
    --playing-bg: none;
    --transition: color 1s, background 1s, border 1s, box-shadow 1s;
    --header-padding: 0;
}

$pt-intent-primary: var(--intent-primary);
$pt-intent-success: var(--intent-success);
$pt-intent-warning: var(--intent-warning);
$pt-intent-danger: var(--intent-danger);

$pt-intent-text-colors: (
    "primary": var(--text-primary),
    "success": var(--text-success),
    "warning": var(--text-warning),
    "danger" : var(--text-danger)
);

$pt-dark-intent-text-colors: (
    "primary": var(--text-primary),
    "success": var(--text-success),
    "warning": var(--text-warning),
    "danger" : var(--text-danger)
);

$button-intents: (
    "primary": ($pt-intent-primary, var(--primary-hover), var(--primary-active)),
    "success": ($pt-intent-success, var(--success-hover), var(--success-active)),
    "warning": ($pt-intent-warning, var(--warning-hover), var(--warning-active)),
    "danger": ($pt-intent-danger, var(--danger-hover), var(--danger-active)),
);

$selectable-header-menu-selected-background: #000;
$selectable-header-menu-selected-hover-background: #000;
$dark-selectable-header-menu-selected-background: #000;
$dark-selectable-header-menu-selected-hover-background: #000;
$table-cell-odd: #000;

$menu-background-color: var(--background-secondary);
$navbar-background-color: var(--navbar-background);
$table-background-color: var(--table-background);
$cell-background-color: var(--cell-background);
$header-hover-background-color: var(--table-background);
$input-background-color: var(--background-secondary);
$popover-background-color: var(--background-secondary);
$pt-text-color: var(--text-main);
$pt-text-color-muted: var(--text-muted);
$pt-dark-text-color-muted: var(--text-muted);
$button-background-color:  var(--button-background);
$button-background-color-hover: var(--button-background-hover);
$button-background-color-active: var(--button-background-active);
$button-background-color-disabled: rgba(var(--button-background), 0.5);

$button-gradient: linear-gradient(to bottom, rgba(#fff, 0.05), rgba(#fff, 0));